+title(classTable.alignment[0].title)(class='col-12')
+class-table(classTable.alignment)

+title(classTable.direction[0].title)(class='col-12')
+class-table(classTable.direction)

+title(classTable.offset[0].title)(class='col-12')
+class-table(classTable.offset)

+title(classTable.ordering[0].title)(class='col-12')
+class-table(classTable.ordering)

+title(classTable.gutters[0].title)(class='col-12')
+class-table(classTable.gutters)